* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bd0003;
}

h1, h2, h4, h5, h6 {
    color: #180daf;
}

p, label {
    color: rgb(255, 255, 255);
}

input {
    border: none;
    border-radius: 1px solid #ffffff;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #120a91;
}

.cabecalho h3 {
    color: #cf0c0f;
    margin-top: 0;
}

.form-container {
    background-color: rgb(0, 0, 0);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid white;
    height: 45px;
}

.form-header p {
    color: #120a91;
    border-bottom: 2px solid #120a91;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.form-body {
    padding: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: rgb(0, 238, 255);
}

.caixaInputs {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.caixaOpicional {
    display: inline-block;
    margin: 0 30px 0 30px;
}

.caixaOpicional li {
    list-style: none;
    margin-bottom: 5px;
}

.btn-submit {
    background-color: #120a91;
    color: white;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    color: #120a91;
    border-color: #120a91;
}