* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bd0003;
}

h1, h2, h4, h5, h6 {
    color: #0d0763;
}

p, label {
    color: white;
}

input {
    border: none;
    border-radius: 1px solid #ffffff;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #120a91;
}

.cabecalho h3 {
    color: #8f0103;
    margin-top: 0;
}

.form-container {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid white;
    height: 45px;
}

.form-header p {
    color: #120a91;
    border-bottom: 2px solid #120a91;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}