* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bd0003;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #120a91;
}